:root {
  /* middle title */
  --title-color: #2e2f42;
  /* main title */
  --main-text-color: #ffffff;
  /* paragraf */
  --second-tex-color: #434455;
  /* half logo and button */
  --accent-color: #4d5ae5;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-dairy: #fcfcfc;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}

.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-text-color);
  color: var(--second-tex-color);
}

.header-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-navigation:hover,
.header-navigation:focus {
  color: var(--color-ocean);
}
.address {
  font-style: normal;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-tex-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}
.section-subtitles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-tex-color);
  line-height: 1.5;
}

/* ?----------HEADER----------- */

.header {
  font-style: normal;
  color: #2e2f42;
}
.list {
  list-style: none;
}
.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  text-decoration: none;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.header-logo-part {
  color: var(--title-color);
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--color-ocean);
}
.link {
  text-decoration: none;
}
.header-menu-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--color-ocean); 
}

.header-address-link {
  text-decoration:none
  color #434455;

}
/* ?----------ADDRESS----------- */

.header-address {
  font-style: normal;
}
.list {
}
.header-address-item:hover,
.header-address-item:focus {
  color: var(--color-ocean);
}

.header-address-link {
}

/* ?----------HERO-----sek 1------ */

.hero {
  background-color: var(--title-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}

/* ?----------BENEFITS----------- */

.hero-title {
}
.hero-btn {
}
.benefits {
}
.list {
}
.benefits-item {
}
.benefits-subtitles {
}
.benefits-item-text {
}
/* ?-------WHAT ARE WE DOING-------- */
.products {
}
.products-title {
}
.list {
}
.products-item {
}

/* ?-------OUR TEAM-------- */

.team {
  background-color: var(--color-cloud);
}
.team-title {
}
.list {
}
.team-item {
  background-color: var(--main-text-color);
}
.team-subtitles {
}
.team-text {
}

/* ?-------FOOTER-------- */

.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em
  color: var(--accent-color);
  text-transform: uppercase 
};
.header-logo-part {
  color: var(--main-text-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}
/* PORTFOLIO */
.portfolio {
}
.list {
}
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}
.link {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.products-item {
}
